/*Specifications for layout*/
#mainLogo {
  //width: 23em;
  //max-width: 100%;
  position: absolute;
}

#lineStructure {
  //max-width: 100%;
  //width: 70.3em;
  position: absolute;
  top: -17em;
  left: -30.5em;
  transition-duration: $slideDuration;
  -webkit-transition-duration: $slideDuration;
}