/*Specification for defaults*/
body {
  background-color: transparent;
  margin: 0px;
  img {
    max-width: 100%;
  }
  p {
  position: relative;
  &:first-child {
    right: $pCascade;
  }
  &:nth-child(3) {
    left: $pCascade;
  }
  &:last-child {
    left: $pCascade;
  }
}
}